// Les mixins permettent d'insérer des bouts de code avec des paramètres personnalisables
@mixin layout($padding, $margin){
    padding: $padding;
    max-width: 1080px;
    margin: $margin 0;
    border-radius: 5px;
}

@mixin paragraphe($a, $color, $font-size){
    padding: $a;
    color: $color;
    font-size: $font-size;
}

@mixin paragraphe-2($padding, $color, $fsize){
    padding: $padding;
    color: $color;
    font-size: $fsize;
}

// @mixin paragraphe2{
//     padding: 10px;
//     color: blue;
//     font-size: 18px;
// }