// Nesting (imbriquation)
//Attention le Nesting créé des selecteurs descendant par défaut
// L'utilisation du préfixe "&" va créer un selecteur indépendant
.hero {
    // Utilisation d'une mixin
    @include layout(50px, 30px);
    padding: $padding;
    text-align: center;
    h2 {
        margin: 30px 0;
        font-size: multiplication(20px, 2);
    }
    .link {
        color: red;
        &:hover {
            background-color: red;
        }
    }
    p {
        // @include paragraphe2;
        @extend %paragraph;
    }
}

.description {
    // Utilisation d'une mixin
    @include layout(40px, 20px);
}

.description p {
    // Utilisation d'une mixin
    @extend %paragraph;
    @include paragraphe($padding, $paragraphe-color, 20px);
    // @extend %paragraph;
}

.cards {
    @include layout(50px, 30px);
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}
