body {
    font-size: 18px;
    color: $text-color;
    font-weight: bold;
}

h1 {
    background-color: green;
    font-weight: bold;
    color: $main-color;
    padding: $padding;
    border-radius: $border-radius;
    text-align: center;
}

h2 {
    color: $main-color;
}

a {
    display: inline-block;
    text-decoration: none;
    color: $text-color;
}
